.box{
    background-color: white;
    /* padding: gaps between something */
    padding: 50px;
    /* margin: gap outside */
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


body{
    background-color: aquamarine;
}

@keyframes myAnimation{
    0% {background-color: white;}
    50% {background-color: silver;}
    100% {background-color: white;}
}



