body{
    background-color: #caf0f8;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
marquee{
    font-size: xx-large;
    background-color: aliceblue;
}
ul{
    font-size: larger;
}
.box{
    background-color: #dde5b6;
    margin-top: 40px;
}